@model test2.Models.TB_PRODUCT

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td> S_ID @Html.HiddenFor(a => a.S_ID) </td>
            <td> @Html.DisplayFor(a => a.S_ID) </td>
        </tr>
        <tr>
            <td> ID @Html.HiddenFor(a => a.ID) </td>
            <td> @Html.DisplayFor(a => a.ID) </td>
        </tr>
        <tr>
            <td> NAME </td>
            <td> @Html.TextBoxFor(a => a.NAME) </td>
        </tr>
        <tr>
            <td> NUM </td>
            <td> @Html.TextBoxFor(a => a.NUM) </td>
        </tr>
        <tr>
            <td> PRICE </td>
            <td> @Html.TextBoxFor(a => a.PRICE) </td>
        </tr>
        <tr>
            <td> TYPE </td>
            <td> @Html.TextBoxFor(a => a.TYPE) </td>
        </tr>
        <tr>
            <td> DESCRIPTION </td>
            <td> @Html.TextBoxFor(a => a.DESCRIPTION) </td>
        </tr>
        <tr>
            <td> DISCOUNT_RATE </td>
            <td> @Html.TextBoxFor(a => a.DISCOUNT_RATE) </td>
        </tr>
        <tr>
            <input type="submit" value="Save" class="btn btn-default" />
        </tr>
    </table>
}  

<div>
    @Html.ActionLink("Back to List", "Index")
</div>