
@{
    ViewBag.Title = "Home";
}






    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/Content/index_style.css" rel="stylesheet" type="text/css" />
    <!-- Custom Theme files -->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
    </script>
    <!---- start-smoth-scrolling---->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


    <!----webfonts--->
    <!---//webfonts--->
    <!----start-top-nav-script---->
    <script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
    </script>

<body>
    <!----container---->

    <!--//top-header-nav---->
    <!----start-slider-script---->
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });

			    });
    </script>
    <!----//End-slider-script---->
    <!-- Slideshow 4 -->
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="~/images/slide1.jpg" alt="">
                <div class="caption">
                    <div class="slide-text-info">
                        <h1 style="font-family: '微软雅黑 Light'">仅此一天</h1>
                        <label style="font-family: '微软雅黑 Light'">全场五折</label>
                        <a class="slide-btn" href="#" style="font-family: '微软雅黑 Light'"><span>￥99.90</span> <small>立即下单</small><label> </label></a>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/images/slide2.png" alt="">
                <div class="caption">
                    <div class="slide-text-info">
                        <h1 style="font-family: '微软雅黑 Light'">机不可失</h1>
                        <label style="font-family: '微软雅黑 Light'">疯狂抢购</label>
                        <a class="slide-btn" href="#" style="font-family: '微软雅黑 Light'"><span>￥1.00</span> <small>立即下单</small><label> </label></a>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/images/slide3.jpg" alt="">
                <div class="caption">
                    <div class="slide-text-info">
                        <h1 style="font-family: '微软雅黑 Light'">一元起拍</h1>
                        <label style="font-family: '微软雅黑 Light'">整点抢开</label>
                        <a class="slide-btn" href="#" style="font-family: '微软雅黑 Light'"><span>￥1.00</span> <small>立即下单</small><label> </label></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
    <!----- //End-slider---->
    <!----content---->
    <div class="content">
        <div class="container">
            <!---top-row--->
            <div class="top-row">
                <div class="col-xs-4">
                    <div class="top-row-col1 text-center">
                        <h2 style="font-family: 微软雅黑">潮衣</h2>
                        <img class ="r-img text-center" src= @Url.Content("~/images/img-w.jpg")  title ="name"/>
                    
                        <span><img src= @Url.Content("~/images/obj1.png") title="name" /></span>
                        <h4 style="font-family: 微软雅黑">全部</h4>
                        <label style="font-family: '微软雅黑 Light'">1237 个宝贝</label>
                        <a class="r-list-w" href="single-page.html"><img src= @Url.Content("~/images/list-icon.png") title="list" /></a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="top-row-col1 text-center">
                        <h2 style="font-family: 微软雅黑">吃货</h2>
                        <img class="r-img text-center" src= @Url.Content("~/images/man-r-img.jpg" ) title="name" />
                        <span><img src= @Url.Content("~/images/obj2.png" ) title="name" /></span>
                        <h4 style="font-family: 微软雅黑">全部</h4>
                        <label style="font-family: '微软雅黑 Light'">1357 个宝贝</label>
                        <a class="r-list-w" href="single-page.html"><img src= @Url.Content("~/images/list-icon.png") title="list" /></a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="top-row-col1 text-center">
                        <h2 style="font-family: 微软雅黑">日用</h2>
                        <img class="r-img text-center" src=@Url.Content("~/images/kid-r-img.jpg" )title="name" />
                        <span><img src= @Url.Content("~/images/obj3.png") title="name" /></span>
                        <h4 style="font-family: 微软雅黑">全部</h4>
                        <label style="font-family: '微软雅黑 Light'">2247 个宝贝</label>
                        <a class="r-list-w" href="single-page.html"><img src= @Url.Content("~/images/list-icon.png") title="list" /></a>
                    </div>
                </div>
                <div class="clearfix"></div>
        </div>
        <!---top-row--->
        <div class="copyrights">2016 Database Design </div>
        <div class="container">
            <!----speical-products---->
            <div class="special-products">
                <div class="s-products-head">
                    <div class="s-products-head-left">
                        <h3 style="font-family: '微软雅黑 Light'">站长 <span style="font-family: '微软雅黑 Light'">推荐</span></h3>
                    </div>
                    <div class="s-products-head-right">
                        <a href="products.html" style="font-family: '微软雅黑 Light'"><span> </span>查看所有宝贝</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!----special-products-grids---->
                <div class="special-products-grids">
                    <div class="col-md-3 special-products-grid text-center">
                        <a class="brand-name" href="single-page.html">
                            
       
                            <img src=   @Url.Content("~/images/b1.jpg")  title="name" />
                        </a>
                        <a class="product-here" href="single-page.html"><img src="~/images/p1.jpg" title="product-name" /></a>
                        <h4><a href="single-page.html">Nike Roshe Run</a></h4>
                        <a class="product-btn" href="single-page.html"><span>￥109.90</span><small style="font-family: '微软雅黑'">现在购买</small><label> </label></a>
                    </div>
                    <div class="col-md-3 special-products-grid text-center">
                        <a class="brand-name" href="single-page.html"><img src="~/images/b2.jpg" title="name" /></a>
                        <a class="product-here" href="single-page.html"><img src="~/images/p2.jpg" title="product-name" /></a>
                        <h4><a href="single-page.html">Line Link 67009</a></h4>
                        <a class="product-btn" href="single-page.html"><span>￥9.90</span><small style="font-family: '微软雅黑'">现在购买</small><label> </label></a>
                    </div>
                    <div class="col-md-3 special-products-grid text-center">
                        <a class="brand-name" href="single-page.html"><img src="~/images/b3.jpg" title="name" /></a>
                        <a class="product-here" href="single-page.html"><img src="~/images/p3.jpg" title="product-name" /></a>
                        <h4><a href="single-page.html">Minimus Zero </a></h4>
                        <a class="product-btn" href="single-page.html"><span>￥11.90</span><small style="font-family: '微软雅黑'">现在购买</small><label> </label></a>
                    </div>
                    <div class="col-md-3 special-products-grid text-center">
                        <a class="brand-name" href="single-page.html"><img src="~/images/b4.jpg" title="name" /></a>
                        <a class="product-here" href="single-page.html"><img src="~/images/p4.jpg" title="product-name" /></a>
                        <h4><a href="single-page.html"> Athletic Shoe </a></h4>
                        <a class="product-btn" href="single-page.html"><span>￥19.90</span><small style="font-family: '微软雅黑'">现在购买</small><label> </label></a>
                    </div>
                    <div class="col-md-3 special-products-grid text-center">
                        <a class="brand-name" href="single-page.html"><img src="~/images/b5.jpg" title="name" /></a>
                        <a class="product-here" href="single-page.html"><img src="~/images/p5.jpg" title="product-name" /></a>
                        <h4><a href="single-page.html">Veronique </a></h4>
                        <a class="product-btn" href="single-page.html"><span>￥39.90</span><small style="font-family: '微软雅黑'">现在购买</small><label> </label></a>
                    </div>
                    <div class="col-md-3 special-products-grid text-center">
                        <a class="brand-name" href="single-page.html"><img src="~/images/b6.jpg" title="name" /></a>
                        <a class="product-here" href="single-page.html"><img src="~/images/p6.jpg" title="product-name" /></a>
                        <h4><a href="single-page.html">Suede Boots </a></h4>
                        <a class="product-btn" href="single-page.html"><span>￥32.90</span><small style="font-family: '微软雅黑'">现在购买</small><label> </label></a>
                    </div>
                    <div class="col-md-3 special-products-grid text-center">
                        <a class="brand-name" href="single-page.html"><img src="~/images/b7.jpg" title="name" /></a>
                        <a class="product-here" href="single-page.html"><img src="~/images/p7.jpg" title="product-name" /></a>
                        <h4><a href="single-page.html">Barricade 6.0  </a></h4>
                        <a class="product-btn" href="single-page.html"><span>￥25.90</span><small style="font-family: '微软雅黑'">现在购买</small><label> </label></a>
                    </div>
                    <div class="col-md-3 special-products-grid text-center">
                        <a class="brand-name" href="single-page.html"><img src="~/images/b1.jpg" title="name" /></a>
                        <a class="product-here" href="single-page.html"><img src="~/images/p8.jpg" title="product-name" /></a>
                        <h4><a href="single-page.html">Cotu Classic </a></h4>
                        <a class="product-btn" href="single-page.html"><span>￥45.90</span><small style="font-family: '微软雅黑'">现在购买</small><label> </label></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!---//special-products-grids---->
            </div>
            <!---//speical-products---->
        </div>
        <!----content---->
        <!----footer--->

        <div class="clearfix"> </div>
        <!---//footer--->

        <script type="text/javascript">
						$(document).ready(function() {
							/*
							 var defaults = {
							 containerID: 'toTop', // fading element id
							 containerHoverID: 'toTopHover', // fading element hover id
							 scrollSpeed: 1200,
							 easingType: 'linear'
							 };
							 */

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
        </script>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
    </div>
    <!--//copy-right--->


</body>



