@model Login.Models.TB_USER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_USER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STREET_NUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STREET_NUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STREET_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STREET_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APT_NUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APT_NUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROVINCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVINCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZIPCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZIPCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POINT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POINT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREDIT_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREDIT_NO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
